/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
Vị trí
Kích thước
Màu sắc
Kiểu dáng 
*/
#header{
    background-color: black;
    height: 45px; 
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
}

#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none   ;
}

#nav > li{
    display: inline-block;
    position: relative;
}

#nav li a {
    color: white;
    text-decoration: none;
    line-height: 45px;
    padding: 0 40px  ;
    font-size: 20px;
}

#nav > li > a{
    text-transform: uppercase;
}

#nav > li:hover > a {
    background-color: white;
    color: black;
    display: inline-block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgb(170, 168, 168);
    top: 100%;
    left: 0;
}

#nav .arrow{
    font-size: 12px
}

#nav .subnav li a{
    display:block;
    color: black;
}

#nav .subnav li:hover a{
    color: black;
    background-color: gray;
}
#nav .subnav a{
    padding: 0 40px;
    line-height: 38px;
}

#header .search-btn{
    float: right;
    color: white;
    line-height: 45px;
    font-size: 20px;
    padding: 0 16px;
}

#header .search-btn:hover{
    background-color: crimson ;
    transition: all 1s ease;
    cursor: pointer;
    font-weight: 900;
}

#slider{
    padding-top: 50%;
    margin-top: 45px;
    background: url(/assets/image/image-1.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-1{
    font-size: 30px;
}

#slider .text-2{
    margin-top: 25px;
    font-size: 25px;
}

#content .about{
    width: 800px;
    margin: auto auto;
}

#content .content-about-1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 4px;
}

#content .sub-content1{
    text-align: center;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .content-about-2{
    text-align: justify;
    line-height: 1.4;
}